@use "./base.scss";

// put your custom CSS here!
.label-icon {
    font-size: 48px;
    text-anchor: middle;
    dominant-baseline: middle;
}
.label-text {
    fill: white;
    font-size: 19px;
    text-anchor: middle;
    dominant-baseline: middle;
}